.p1 {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5rem 21rem;
  top: 1rem;
}

.birthday {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.birthday img {
  position: relative;
  width: 47em;
  height: 46em;
  top: 4em;
}

.p1 {
  font-family: "Amatic SC", cursive;
  position: relative;
  color: black;
  top: -29em;
  left: 34px;
  margin: 5em 17em;
  font-size: 20px;
  font-weight: bolder;
}
