@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Varela+Round&display=swap");

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: whitesmoke;
  font-size: 16px;
}

.main {
  background: #424442d4;
  color: white;
  font-family: "Grandstander", cursive;
  position: relative;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1600px;
  width: 100%;

  display: grid;
  grid-template-rows: 63px auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "navbar"
    "PageContent";

  /* for now only */
  border: 3px solid red;
}

.navbar {
  grid-area: navbar;
  background: rgb(95 95 95);
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10rem 1fr;
  grid-template-areas: "pageName navbar-btn";
  /* align-items: center;
  text-align: center; */
  width: 100%;

  /* for now only */
  border: 3px solid yellow;
}

.pageName {
  grid-area: pageName;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* add '#' before "id" */
#title {
  color: darkseagreen;
  font-family: "Courier New", Courier, monospace;
  left: 4rem;
  top: 0rem;
}

.navbar-btn-wrapper {
  box-sizing: border-box;
  grid-area: navbar-btn;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 3px solid #ab42e5;
}

.navbar-btn-container {
  background: #736a64;
  position: absolute;
  /* padding: 0rem 0rem; */
  margin: 0 auto;
  top: 3px;
  /* left: 28rem; */
  bottom: 0px;
  right: 2rem;
  border: 0px solid #4a4848;
  border-radius: 35px;
  display: flex;
  width: 37rem;
  height: 3rem;
  max-width: 40rem;
}

.navbar .navbar-btn-container li {
  display: inline-block;
}

.navbar-btn {
  position: relative;
  background: inherit;
  color: #8cc394;
  font-size: 1em;
  border: 0px solid #4a4848;
  padding: 7px;
  margin: 0rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  align-content: center;
  top: 0.7rem;
  left: 2rem;
}

.PageContent {
  grid-area: PageContent;
  /* text-align: center; */
  /* align-content: center; */
  width: 100%;
  height: 100%;
  position: relative;

  /* for now only */
  border: 10px solid #0f59be;
}

.back-to-top-btn {
  position: fixed;
  left: 90%;
  top: 90vh;
  background: rgb(80 80 80);
  color: #e0e4a2;
  font-size: 0.7em;
  border: 1px solid #4a4848;
  padding: 7px;
  margin: 0rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

/* background image */
.homepage-background-one {
  background: url("../img/HomePage/background1.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage-background-one * {
  background-color: unset;
  color: azure;
}

.homepage-background-two {
  background: url("../img/HomePage/background2.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homepage-background-two * {
  background-color: unset;
  color: azure;
}

.homepage-background-three {
  background: url("../img/HomePage/background3.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homepage-background-three * {
  background-color: unset;
  color: azure;
}

.sub-title {
  position: relative;
  color: darkseagreen;
  background-color: inherit;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  padding: 0rem 5rem;
  margin: 1em 0;
  text-align: left;
  font-size: 32px;
  right: 0px;
  left: 0px;
}
.inline-word {
  color: rgb(233, 29, 22);
  font-size: 120%;
  font-style: oblique;
  font-family: cursive;
}
