body {
  background-color: #d7c6c4;
  color: #fff;

  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
}

#screen canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;

  /* disable scaling interpolation */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#share {
  margin: 10px auto;
  text-align: center;
}

#share .fb-share-button iframe {
  margin-top: -4px;
}

@font-face {
  font-family: 'gamefont';
  src: url('data/css/gamefont.eot');
  src: url('data/css/gamefont.eot?#iefix') format('embedded-opentype'),
     url('data/css/gamefont.woff') format('woff'),
     url('data/css/gamefont.ttf') format('truetype'),
     url('data/css/gamefont.svg#gamefont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.google {
  position: absolute;
  left:23%;
}


.navbar {
  grid-area: navbar;
  /* background: rgb(95 95 95); */
  background:#815752;
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10rem 1fr;
  grid-template-areas: "pageName navbar-btn";
  /* align-items: center;
  text-align: center; */
  width: 100%;

  /* for now only */
  /* border: 3px solid yellow; */
}


.pageName {
  grid-area: pageName;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* add '#' before "id" */
#title {
  color: #d7c6c4;
  font-family: "Courier New", Courier, monospace;
  left: 4rem;
  top: 0rem;
}

.navbar-btn-wrapper {
  box-sizing: border-box;
  grid-area: navbar-btn;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  /* border: 3px solid #ab42e5; */
}

.navbar-btn-container {
  background: #a48885;
  position: absolute;
  /* padding: 0rem 0rem; */
  margin: 0 auto;
  top: 3px;
  /* left: 28rem; */
  bottom: 0px;
  right: 2rem;
  border: 0px solid #4a4848;
  border-radius: 35px;
  display: flex;
  width: 37rem;
  height: 3rem;
  max-width: 40rem;
}

.navbar .navbar-btn-container li {
  display: inline-block;
}

.navbar-btn {
  position: relative;
  background: inherit;
  color: #ffffff;
  font-size: 1em;
  border: 0px solid #4a4848;
  padding: 7px;
  margin: 0rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  align-content: center;
  top: 0.7rem;
  left: 2rem;
}
