body {
  background-color: rgba(252, 252, 252, 0.973);
  font-family: cursive;
}

/* p{
    color: rgb(37, 37, 37);
    font-size: 100%;
    font-family: cursive;
} */

/* add '#' before "id" */
#title {
  color: darkseagreen;
  background-color: rgb(253, 251, 251);
  font-family: "Courier New", Courier, monospace;
  text-underline-position: below;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 40%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image{
    opacity: 0.35;
}
.container:hover .middle{
  opacity: 1;
}
.text {
  color: white;
  background-color: rgba(84, 190, 194, 0.781);
  font-size: 20px;
  padding: 16px 20px;
}

.sub-title {
  color: rgb(113, 194, 176);
  background-color: rgb(253, 251, 251);
  font-family: "Courier New", Courier, monospace;
  text-underline-position: below;
  border: 3px dashed burlywood;
  border-right: 40%;
  border-left: 20%;
}
.inline-word {
  color: rgb(233, 29, 22);
  font-size: 120%;
  font-style: oblique;
  font-family: cursive;
}
